/* finances.css */
#finances{
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-top: 5rem;
}
#finances h1 {
    text-align: center;
}
#finances .box-container {
    display: flex;
    margin: 3rem;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-around;
    align-items: flex-start;
}
#finances .box-container > * {
    background-color: white;
    padding: 1rem 1.5rem;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.05); /* Soft Shadow */
    border: 3px solid #004385;
    border-radius: 25px;
}
#finances .box-container > a {
    font-weight: bold;
    color: #004385;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: relative;
}
#finances .box-container > a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0.75rem;
    width: 0;
    height: 2px;
    background: #004385;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(15%);
}
#finances .box-container > a:hover::after {
    width: 80%;
    left: 0;
}
#finances .box-container > a:hover {
    color: #004385;
}
.info-table table{
    border-collapse: collapse;
}
.info-table th, .info-table td {
    border: 1px solid #004385;
    padding: 0.5rem 1rem;
    text-align: left;
}
#finances #billing-tables h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}