/* makePayment.css */
#makePayment > * {
    margin: 1rem 0;
}
#makePayment .input-container {
    position: relative;
    display: inline-block;
}

#makePayment .input-container span {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

#makePayment .currency-input {
    padding: 0.25rem;
    padding-left: 1.5rem; /* Adjust for dollar sign */
    width: 120px;
    border: 1px solid #004385;
    border-radius: 5px;
}
#makePayment .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 3rem;
    justify-content: space-around;
    align-items: flex-start;
}
#makePayment .box-container > *{
    background-color: white;
    padding: 1rem 1.5rem;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.05); /* Soft Shadow */
    border: 3px solid #004385;
    border-radius: 25px;
}
#makePayment .add-payment > a {
    font-weight: 500;
    color: #495867;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    position: relative;
}
#makePayment .add-payment > a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0.75rem;
    width: 0;
    height: 2px;
    background: #004385;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateY(1rem);
}
#makePayment .add-payment > a:hover::after {
    width: 100%;
    left: 0;
}
#makePayment .add-payment > a:hover {
    color: #004385;
}