#student-profile {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.main-header {
    margin-bottom: 30px;
}

#personal-info, .courses-info {
    margin-bottom: 10px;
}

.courses-info {
    margin-top: 40px;
}

.section-header {
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    max-width: 317px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#personal-info input {
    margin: 0;
    padding: 0.25rem;
}

.error-message {
    color: red;
}

.courses-info table:first-of-type {
    margin-bottom: 40px;
}

.search-button-container3 {
    width: 300px;
    position: absolute;
    text-align: right; 
    margin-bottom: 20px; 
    left: 550px;
    right: -450px;
    background-color: white; 
    border-radius: 16px;
    padding: 20px;
    transform: translate(-120px);
}

.profile_search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}
