/* studentSearch.css */

#studentSearch {
    font-family: Arial, sans-serif;
    color: #495867;
    display: flex;
  }
  
  /* sidebar styles */
  #studentSearch .sidebar {
    width: 300px; /* fixed width for the sidebar */
    background-color: white;
    padding: 20px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.05); /* soft shadow */
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    position: absolute;
    top: 7rem;
    left: 20px;
  }
  
  #studentSearch .sidebar .checkboxes {
    margin-top: 20px;
  }
  
  #studentSearch .sidebar h3 {
    font-size: 1.2rem;
  }
  
  #studentSearch .sidebar .checkboxes label {
    display: block;
    margin-bottom: 10px;
  }
  
  #studentSearch .sidebar #toggle-btn {
    top: 0;
    left: 0;
    transform: translate(50px, 1.5rem);
  }

  #studentSearch .sidebar #reset-btn {
    top: 0;
    left: 0;
    transform: translate(200px, 1.5rem);
  }

  #studentSearch .btn {
    background: #004385;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 11px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 0px #004385;
    position: relative;
  }

  #studentSearch .btn:hover {
    background: #3674b3;
    box-shadow: 0px 2px 0px #004385;
  }

  #studentSearch .sidebar #clear-btn {
    top: 0;
    left: 0;
    transform: translate(100px, -2.75rem);
  }
  
  /* student list styling */
  #studentSearch article {
    position: absolute;
    left: 400px;
    top: 7rem;
    padding: 20px;
  }

  #studentSearch article > * {
    background-color: white;
    padding: 20px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.05); /* soft shadow */
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    margin: 25px;
  }

  #studentSearch input[type="text"] {
    width: 100%;
    padding: 0.25rem;
    margin: 1rem 0;
    border-radius: 10px;
    border: 1px solid #004385;
  }
  
  #studentSearch .sidebar input[type="text"] {
    width: 3rem;
  }

  #studentSearch article h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  #studentSearch table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #studentSearch table, #studentSearch th, #studentSearch td {
    border: 1px solid #ddd;
  }
  
  #studentSearch th, #studentSearch td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #004385;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  }
  